include setup.py
recursive-include kimodo/assets *
recursive-include kimodo/houdini *
recursive-include MotionCorrection/src *.cpp *.h *.inl
recursive-include MotionCorrection/python *.py *.dll
include MotionCorrection/CMakeLists.txt
include MotionCorrection/test_example.py
